*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 60px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
}
nav label{
    margin-left: 5%;
}